In [2]:
import requests
import pandas as pd

In [14]:
# Pull in data from an API. 

url = "https://api2.binance.com/api/v3/ticker/24hr"
response = requests.get(url)
data = response.json()

In [15]:
df = pd.DataFrame(data)
#df.describe()

1663803020332
28737442

In [24]:
# Find and print TWO descriptive statistics about your data. 
# This can be absolutely anything, from the mean() or sum() of a column to the number of different categories,
# to the number of null values in a column. We just want to see two pieces of information.

print(df["openTime"].max())
print(df["count"].sum())

1663803020332
28737442

In [18]:
# Write a query in Pandas to select a particular set of your data. 
# You can use a mask or with .query(), but we want you to pull out a 
# subset based on any parameter you like. 

df_filtered = df[df['symbol'] == 'ETHBTC']

In [21]:
# Select and print the SECOND AND THIRD columns of your data frame.

df_filtered.iloc[:, 2:4]

  priceChangePercent weightedAvgPrice
0              1.653       0.06769138

In [23]:
# Select and print the FIRST 4 rows of your data frame.

df.head(4)

,symbol,priceChange,priceChangePercent,weightedAvgPrice,prevClosePrice,lastPrice,lastQty,bidPrice,bidQty,askPrice,...,openPrice,highPrice,lowPrice,volume,quoteVolume,openTime,closeTime,firstId,lastId,count
0,ETHBTC,0.00111500,1.653,0.06769138,0.06746800,0.06858300,1.11060000,0.06858600,6.79800000,0.06858700,...,0.06746800,0.06914500,0.06661500,114029.77450000,7718.83248147,1663803020272,1663889420272,376225766,376524513,298748
1,LTCBTC,-0.00000400,-0.145,0.00277543,0.00275700,0.00275200,0.30000000,0.00275100,55.18000000,0.00275200,...,0.00275600,0.00280400,0.00274700,85476.30500000,237.23317991,1663803020016,1663889420016,83809135,83832348,23214
2,BNBBTC,-0.00005000,-0.351,0.01416886,0.01424400,0.01419500,0.04400000,0.01419500,2.70200000,0.01419600,...,0.01424500,0.01441100,0.01393400,65748.27200000,931.57822541,1663803020260,1663889420260,203036401,203194837,158437
3,NEOBTC,-0.00000200,-0.459,0.00043798,0.00043500,0.00043400,433.17000000,0.00043400,97.84000000,0.00043500,...,0.00043600,0.00044200,0.00043400,21746.06000000,9.52424591,1663803019989,1663889419989,43883527,43884977,1451