In [2]:
import requests
import pandas as pd

In [14]:
# Pull in data from an API. 

url = "https://api2.binance.com/api/v3/ticker/24hr"
response = requests.get(url)
data = response.json()

In [15]:
df = pd.DataFrame(data)
#df.describe()

1663803020332
28737442

In [24]:
# Find and print TWO descriptive statistics about your data. 
# This can be absolutely anything, from the mean() or sum() of a column to the number of different categories,
# to the number of null values in a column. We just want to see two pieces of information.

print(df["openTime"].max())
print(df["count"].sum())

1663803020332
28737442

In [30]:
# Write a query in Pandas to select a particular set of your data. 
# You can use a mask or with .query(), but we want you to pull out a 
# subset based on any parameter you like. 

df_filtered = df[df['symbol'].str.contains('X')]

In [31]:
# Select and print the SECOND AND THIRD columns of your data frame.

df_filtered.iloc[:, 2:4]

     priceChangePercent weightedAvgPrice
14                0.000       0.00000000
27                2.004       0.00001424
28               -0.718       0.00021014
33                0.000       0.00000000
34                0.000       0.00000000
...                 ...              ...
2024              3.772       0.00004820
2046             -4.242       0.00047562
2047             -4.251       0.00047473
2055              3.259       0.49875784
2069              1.562       0.00185665

[307 rows x 2 columns]

In [33]:
# Select and print the FIRST 4 rows of your data frame.

df_filtered.iloc[0:4, :]

,symbol,priceChange,priceChangePercent,weightedAvgPrice,prevClosePrice,lastPrice,lastQty,bidPrice,bidQty,askPrice,...,openPrice,highPrice,lowPrice,volume,quoteVolume,openTime,closeTime,firstId,lastId,count
14,OAXETH,0.00000000,0.000,0.00000000,0.00017780,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,...,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,1663756681370,1663843081370,-1,-1,0
27,ZRXBTC,0.00000028,2.004,0.00001424,0.00001394,0.00001425,179.00000000,0.00001422,809.00000000,0.00001425,...,0.00001397,0.00001445,0.00001397,162022.00000000,2.30643702,1663803003080,1663889403080,24861026,24861963,938
28,ZRXETH,-0.00000150,-0.718,0.00021014,0.00020860,0.00020740,49.00000000,0.00020690,2725.00000000,0.00020850,...,0.00020890,0.00021470,0.00020730,23484.00000000,4.93486040,1663803004316,1663889404316,5313440,5313536,97
33,BQXBTC,0.00000000,0.000,0.00000000,0.00008703,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,...,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,1663756681370,1663843081370,-1,-1,0