In [2]:
import requests
import pandas as pd

In [3]:
# Pull in data from an API. 
# I found this one that pulls cryptocurrentcy

url = "https://api2.binance.com/api/v3/ticker/24hr"
response = requests.get(url)
data = response.json()

In [7]:
df = pd.DataFrame(data)
df.describe()

           openTime     closeTime       firstId        lastId         count
count  2.101000e+03  2.101000e+03  2.101000e+03  2.101000e+03  2.101000e+03
mean   1.663961e+12  1.664048e+12  1.357228e+07  1.358219e+07  9.913017e+03
std    1.325874e+08  1.325874e+08  5.952616e+07  5.960369e+07  9.550867e+04
min    1.663759e+12  1.663845e+12 -1.000000e+00 -1.000000e+00  0.000000e+00
25%    1.663759e+12  1.663845e+12 -1.000000e+00 -1.000000e+00  0.000000e+00
50%    1.664048e+12  1.664134e+12  2.064273e+06  2.069446e+06  6.110000e+02
75%    1.664048e+12  1.664134e+12  9.312573e+06  9.333138e+06  3.299000e+03
max    1.664048e+12  1.664134e+12  1.872736e+09  1.876340e+09  3.604389e+06

In [8]:
# Find and print TWO descriptive statistics about your data. 
# This can be absolutely anything, from the mean() or sum() of a column to the number of different categories,
# to the number of null values in a column. We just want to see two pieces of information.

print(df["openTime"].max())
print(df["count"].sum())

1664047923206
20827249

In [9]:
# Write a query in Pandas to select a particular set of your data. 
# You can use a mask or with .query(), but we want you to pull out a 
# subset based on any parameter you like. 

df_filtered = df[df['symbol'].str.contains('X')]
df_filtered.head()

,symbol,priceChange,priceChangePercent,weightedAvgPrice,prevClosePrice,lastPrice,lastQty,bidPrice,bidQty,askPrice,...,openPrice,highPrice,lowPrice,volume,quoteVolume,openTime,closeTime,firstId,lastId,count
14,OAXETH,0.00000000,0.000,0.00000000,0.00017780,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,...,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,1663758557023,1663844957023,-1,-1,0
27,ZRXBTC,-0.00000011,-0.758,0.00001438,0.00001446,0.00001440,941.00000000,0.00001439,734.00000000,0.00001440,...,0.00001451,0.00001452,0.00001423,92001.00000000,1.32343385,1664047877207,1664134277207,24864801,24867293,2493
28,ZRXETH,0.00000270,1.302,0.00020732,0.00020600,0.00021010,145.00000000,0.00020930,741.00000000,0.00021020,...,0.00020740,0.00021010,0.00020560,40934.00000000,8.48649110,1664047593015,1664133993015,5313644,5313674,31
33,BQXBTC,0.00000000,0.000,0.00000000,0.00008703,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,...,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,1663758557023,1663844957023,-1,-1,0
34,BQXETH,0.00000000,0.000,0.00000000,0.00126350,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,...,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,1663758557023,1663844957023,-1,-1,0

In [13]:
# Select and print the SECOND AND THIRD columns of your data frame.

print(df_filtered.iloc[:, 2:4])

     priceChangePercent weightedAvgPrice
14                0.000       0.00000000
27               -0.758       0.00001438
28                1.302       0.00020732
33                0.000       0.00000000
34                0.000       0.00000000
...                 ...              ...
2024             -0.734       0.00004911
2046             -1.290       0.00046015
2047             -0.864       0.00045967
2055             -1.996       0.49529111
2069             -0.054       0.00183392

[307 rows x 2 columns]

In [14]:
# Select and print the FIRST 4 rows of your data frame.

print(df_filtered.iloc[0:4, :])

    symbol  priceChange priceChangePercent weightedAvgPrice prevClosePrice  \
14  OAXETH   0.00000000              0.000       0.00000000     0.00017780
27  ZRXBTC  -0.00000011             -0.758       0.00001438     0.00001446
28  ZRXETH   0.00000270              1.302       0.00020732     0.00020600
33  BQXBTC   0.00000000              0.000       0.00000000     0.00008703

     lastPrice       lastQty    bidPrice        bidQty    askPrice  ...  \
14  0.00000000    0.00000000  0.00000000    0.00000000  0.00000000  ...
27  0.00001440  941.00000000  0.00001439  734.00000000  0.00001440  ...
28  0.00021010  145.00000000  0.00020930  741.00000000  0.00021020  ...
33  0.00000000    0.00000000  0.00000000    0.00000000  0.00000000  ...

     openPrice   highPrice    lowPrice          volume quoteVolume  \
14  0.00000000  0.00000000  0.00000000      0.00000000  0.00000000
27  0.00001451  0.00001452  0.00001423  92001.00000000  1.32343385
28  0.00020740  0.00021010  0.00020560  40934.00000000  8.48649110
33  0.00000000  0.00000000  0.00000000      0.00000000  0.00000000

         openTime      closeTime   firstId    lastId  count
14  1663758557023  1663844957023        -1        -1      0
27  1664047877207  1664134277207  24864801  24867293   2493
28  1664047593015  1664133993015   5313644   5313674     31
33  1663758557023  1663844957023        -1        -1      0

[4 rows x 21 columns]